<!DOCTYPE html>

<html>
    <head>
        <title>Weather Home Page</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get weather</p>
            <form>
                <input placeholder="Enter Location eg: London, New York, 94555">
                <button>Get Weather</button>
            </form>
            <img id='weatherIcon'>
            <p id='weatherForecast'></p>
            <p id='weatherError'></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>